@import "../../../global.css";


.eventcard2Child {
    align-self: stretch;
    width: 16.625rem;
    position: relative;
    border-radius: var(--br-5xs);
    background-color: var(--color-darkslategray-200);
    display: none;
    z-index: 0;
  }
  .postframePostframe {
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: var(--br-5xs);
    background-color: var(--color-gray-300);
    border-bottom: 2px solid var(--color-burlywood);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .postFrame {
    position: absolute;
    top: 0rem;
    left: 0rem;
    border-radius: var(--br-5xs);
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .rectangleRectangle {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0rem;
    right: 0rem;
    left: 0rem;
  }
  .postView {
    height: 9.438rem;
    width: 16.625rem;
    position: relative;
    border-radius: var(--br-5xs);
    background-color: var(--color-darkslategray-100);
    display: none;
    z-index: 0;
  }
  .aestheticImages1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0rem;
    right: 0.05rem;
    bottom: 0rem;
    left: 0.025rem;
    border-radius: var(--br-5xs);
    z-index: 1;
  }
  .image12Icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    border-radius: var(--br-5xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .postImageFrame {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
  }
  .kivera {
    height: 2.625rem;
    position: relative;
    font-weight: 500;
    display: inline-block;
    z-index: 3;
  }
  .postImg {
    border-radius: var(--br-5xs);
    background-color: var(--color-darkslategray-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-35xl) var(--padding-62xl) var(--padding-36xl)
      var(--padding-61xl);
    position: relative;
    z-index: 3;
  }
  .eventcard2 {
    border-radius: var(--br-5xs);
    background-color: var(--color-darkslategray-200);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0rem 0rem var(--padding-12xs);
    position: relative;
    z-index: 1;
  }
  .eventcardeventcard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0rem var(--padding-3xl) 0rem 0rem;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  
  @media screen and (max-width: 900px) {
    .kivera {
      font-size: var(--font-size-7xl);
    }
  }
  @media screen and (max-width: 450px) {
    .kivera {
      font-size: var(--font-size-lgi);
    }
  
    .postImg {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  