@import url("../../../global.css");

.base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 29, 44, 1);
    border-radius: 13px;
    height: 94vh;
    width: 63vw;
    flex-wrap: wrap;
    color: var(--color-text);
    font-family: var(--font-poppins);
    font-size: var(--font-size-lg);
    color: white;
    text-align: center;
    margin-right: 0rem;
}

.rectangle {
    border-radius: 8px;
    background-color: var(--color-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 2rem 1rem;
    width: 50%;
    height: 50%;
    font-size: var(--font-size-lgi);
    font-family: var(--font-poppins);
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    .rectangle {
        width: 80%;
        height: auto;
    }

    .base {
        width: 550px;
        height: 615px;
    }
}
@media screen and (max-width: 1440px) {
  .rectangle {
      width: 80%;
      height: auto;
  }

  .base {
      width: 550px;
      height: 615px;
  }
}


@media screen and (max-width: 768px) {
  .rectangle {
      width: 100%;
      height: auto;
  }

  .base {
      width: 35rem;
  }
}
@media screen and (max-width: 960px) {
  .rectangle {
      width: 100%;
      height: auto;
  }

  .base {
      width: 38rem;
  }
}

/*For mobile devices */

@media screen and (max-width: 655px) {
  .rectangle {
    margin-top: 20px;
    width: 100vw;
    height: 100vh;
  }

  .base {
    margin-top: 20px;
    width: 100vw;
    height: 100vh;
  }
}

