@import url("../../../global.css");

.base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 29, 44, 1);
    border-radius: 13px;
    flex-wrap: wrap;
    color: var(--color-text);
    font-family: var(--font-poppins);
    font-size: var(--font-size-lg);
    color: white;
    text-align: center;
    overflow: auto;
    margin-right: 0rem;
}

.rectangle {
    border-radius: 13px;
    position: relative;
    background-color: var(--color-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: lightgreen;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 2rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    width: 90%;
    height: 100%;
    font-size: var(--font-size-lgi);
    font-family: var(--font-poppins);
}


/* mediaquerries*/


@media screen and (min-width: 1536px)  {    /* For 16 inch laptops*/ 
  .base{
    width: 60.1vw;
    height: 94vh;
  }

}

@media screen and (min-width: 1360px) and (max-width: 1400px) {    /* For 15 inch laptops*/ 
  .base{
    width: 59.5vw;
    height: 94vh;
  }

}

@media screen and (min-width: 1280px) and (max-width: 1320px) {    /* For 14 inch laptops*/ 
  .base{
    width: 53.5vw;
    height: 96vh;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {    /* For 13 inch laptops*/ 
  .base{
    width: 60.5vw;
    height: 96vh;
  }
  
}
@media screen and (min-width: 786px) and (max-width: 1080px) {    /* For Tablets*/ 
  .base{
    width: 78.5vw;
    height: 94vh;
  }
  
}
@media screen and (max-width: 426px) {    /* For Mobile*/ 
  .base{
    width: 94%;
    height: 86vh;
  }
  
}



















/*

@media screen and (min-width: 768px) and (max-width: 1120px) {
    .rectangle {
        width: 80%;
        height: auto;
    }

    .base {
        width: 550px;
        height: 615px;
    }
}


@media screen and (max-width: 768px) {
  .rectangle {
      width: 100%;
      height: auto;
  }

  .base {
      width: 35rem;
  }
}
@media screen and (max-width: 960px) {
  .rectangle {
      width: 100%;
      height: auto;
  }

  .base {
      width: 38rem;
  }
}

/*For mobile devices 

@media screen and (max-width: 655px) {
  .rectangle {
    margin-top: 20px;
    width: 100vw;
    height: 100vh;
  }

  .base {
    margin-top: 20px;
    width: 100vw;
    height: 100vh;
  }
}

*/